@page
@{
    ViewData["Title"] = "Админ-панель";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 align="center">Админ-панель Главная</h3>
    <p align="center">Добро пожаловать в панель управления.</p>
</div>
