@page
@model KosmosCore.Pages.Admin.PlanetsAddModel
@{
    ViewData["Title"] = "Добавление планеты";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 align="center">Добавление планеты</h3>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-bordered" style="width: 50%; margin: 0 auto;">
            <tr>
                <td>Название</td>
                <td>
                    <input asp-for="Input.PlanetName" class="form-control" />
                    <span asp-validation-for="Input.PlanetName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Радиус</td>
                <td>
                    <input asp-for="Input.Radius" class="form-control" />
                    <span asp-validation-for="Input.Radius" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>WS</td>
                <td>
                    <input asp-for="Input.Ws" class="form-control" />
                    <span asp-validation-for="Input.Ws" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>HS</td>
                <td>
                    <input asp-for="Input.Hs" class="form-control" />
                    <span asp-validation-for="Input.Hs" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
