@page
@model KosmosCore.Pages.Admin.RelashionsViewModel
@{
    ViewData["Title"] = "Просмотр связей";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 align="center">Просмотр связей</h3>
    <table class="table table-bordered" style="width: 75%; margin: 0 auto;">
        <thead>
            <tr>
                <th>Направление</th>
                <th>Компетенция</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @* Data loaded via Model *@
        </tbody>
    </table>
</div>
