@page
@model KosmosCore.Pages.Admin.RelashionsAddModel
@{
    ViewData["Title"] = "Добавление связи (компетенции)";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 align="center">Добавление связи</h3>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-bordered" style="width: 50%; margin: 0 auto;">
            <tr>
                <td>Направление (ID)</td>
                <td>
                    <input asp-for="Input.SpecId" class="form-control" />
                    <span asp-validation-for="Input.SpecId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Профессия (ID)</td>
                <td>
                    <input asp-for="Input.PlanetId" class="form-control" />
                    <span asp-validation-for="Input.PlanetId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
