@page
@model KosmosCore.Pages.Admin.SpecViewModel
@{
    ViewData["Title"] = "Личный кабинет: Направления";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 align="center">Управление направлениями</h3>
    <table class="table table-bordered" style="width: 90%; margin: 0 auto;">
        <thead>
            <tr>
                <th>Шифр</th>
                <th>Название</th>
                <th>Форма обучения</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @* Data loaded via Model *@
        </tbody>
    </table>
</div>
