@font-face {
    font-family: "Century Gothic";
    src: url(/admin/fonts/Century_Gothic_Regular.ttf);
}

html, body {
    font-size: 16px;
    font-family: 'Century Gothic', 'Verdana';
    /*margin: 0;
	padding: 0;*/
    height: 100%;
    width: 100%;
}

.wrapper {
    /*min-height: 100%;*/
    height: auto !important;
    width: 100%;
}

.table {
    font-family: 'Century Gothic', 'Verdana';
}

.navbarr {
    /*margin: 0;*/
    background-color: #2b3442;
    font-size: 16px;
    font-family: 'Century Gothic';
    /*overflow: hidden;
    display: block;*/
    width: 660px;
    margin: 0 auto 30px;
}

.header {
    /*background-color: #2c2828/*#4C9DA3;*/
    /*font-size: 14px;
    margin: 0 auto;*/
    /*height: auto;*/
    /*width: 100%;*/
}

    .header li {
        font-family: 'Century Gothic';
        color: blueviolet;
        font-size: 11px;
    }

.header_dd {
    background-color: #7CD694;
    background-size: cover;
    font-size: 14px;
    /*height: 200px;*/
    /*padding-top:30px;*/
    height: 100vh;
    background-position: center bottom;
}

.header a {
    display: block;
    text-decoration: none !important;
    padding: 5px 25px;
    font-size: 114%;
    color: #fff;
}

    .header a:hover {
        background-color: #000 !important;
        color: #fff;
    }

.header-text {
    /*margin-bottom: 25px;*/
}
.header-proj {
    background-color: #000;
    font-size: 13px;
    }



.header_dd h1 {
    font-size: 40px;
    color: white;
    line-height: 240px;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    text-align: center;
    margin-top: -146.5px;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
}

.bttn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.footer {
    background-color: #2b3442;
    font-size: 15px;
    font-family: 'Century Gothic';
    padding: 0;
    height: 160px;
    color: #fff !important;
    margin: 0 auto;
    width: 100%;
    position: sticky;
}

/*.icon-bar {
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px;
	min-height: 40px;
    width: 100%;
}

.navbar-toggle {
	padding: 4px 10px;
}

.nav-pills > li > a, .nav-list > li > a {
    border-radius: 8px;
}*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #000;
    background-color: #B8AF3D;
}

@media only screen and (max-width: 768px) {
    .nav-pills > li {
        float: none;
    }
}

.active > a {
    background-color: #fff !important;
    color: #897862 !important;
}

    .active > a:hover {
        background-color: #fff !important;
        color: #897862 !important;
    }

@keyframes round {
    25% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }
}

/*картинки под хэдером*/
/*-----------------------------------------*/
.image {
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin-bottom: 30px;


}

.rules {
    width: 920px;
    margin: 80px auto 20px;
}

.card > image {
    transition: all 0.6s ease;
}

.card {
    width: 420px;
    min-height: 420px;
    display: inline-block;
    vertical-align: top;
    margin-right: 76px;
    text-align: center;
}

/*.atlas-card {
    margin-right: 0;
}*/

.rules a {
    font-size: 25px;
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin: 20px auto 30px;

    white-space: nowrap;
    }

.rules p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom:140px;
    margin-top: 20px;

    /*text-align: center;*/
}

.module {
    width: 420px;
    height: 420px;
    border-width: 5px;
    border-style: solid;
    border-color: #ff3333;
}

.atlas {
    background-image: url('/images/atlas1.png');
    opacity: 0.85;
}

    .atlas:hover {
        opacity: 1;
        transition: all 0.4s ease;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

.naprav {
    background-image: url('/images/naprav1.png');
    opacity: 0.9;
}

    .naprav:hover {
        opacity: 1;
        transition: all 0.4s ease;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

/*-----------------------------------------*/



/*О проекте*/
/*-----------------------------------------*/
.proekt p {
    font-size: 18px;
    line-height: 30px;
    margin: auto 280px 90px 280px;
    text-align: justify;
    /*position:*/   
    /*text-indent: 3.2em;*/

}



.proekt h1 {
    font-size: 25px;
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 80px;
}

.proekt proekt-p p{
    margin-top: 5px;
}

.proekt h3 {
    font-size: 20px;
    text-align: left;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin: 50px 280px 30px 280px;
    white-space: nowrap;
}
/*-----------------------------------------*/



.test {
    margin-left: 170px;
    line-height: 22px;
    font-size: 13px;
}

.test h3 {
    font-size: 16px;
}

.test p{
    padding-left: 60px;
}

.test image a{
    text-align: center;
}


/*стили для таблицы специальностей*/
/*-----------------------------------------*/

.table-spec h1{
   
    font-size: 30px;
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 20px;
}

.table-spec {
/*border-bottom-style: none;*/
}
/*-----------------------------------------*/



.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}


.labelproj {
    color: #fff;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
    font-size: 8px;
    white-space: pre;
}

.labelsuns {
    font-size: 13px;
    font-family: 'Century Gothic';
    color: #fbf619;
    /*color: rgba(215, 127, 20, 0.79);*/
    font-weight: bold;

}



/*логин пароль*/
/*-----------------------------------------*/
.form-group {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    width: 380px;
    margin: 70px auto;
    padding: 3px 2px 2px 2px;
    background: white;
    /*border: 0px solid #ebebeb;*/
    /*box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;*/
    position: center;
    font-family: 'Century Gothic';
    font-size: 16px;


}

.form-group titletext {
    margin-bottom: 20px;
}
.input {
    font-size: 18px;
	padding: 8px 10px 10px 5px;
	display: block;
	background: #fff;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 1px;
	border-bottom: 1px solid #757575;

}


.higl {
    position: absolute;
	height: 60%; 
	width: 100px; 
	top: 75%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;

}

.buttn {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid #fff;
    border-color: rgb(20, 25, 34);
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: rgb(20, 25, 34);
    background-color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin: 30px 75px auto 60px;

}


.label-login {
    
    /*color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;*/
}
/*-----------------------------------------*/




/*стили для таблицы в админке*/
/*-----------------------------------------*/
.adm-table {
    font-size: 10px;
    border-collapse: collapse;
    text-align: center;
    width: 90%;
}

.adm-th {
    background: #2b3442;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    border: solid 1px #fff;
    max-width: 150px;
}

.adm-td {
    background: #fff;
    text-align: left;
    padding: 5px 10px;
    color: #000;
    max-width: 300px;
}

.adm-th-content {
    background: #484231;
    text-align: left;
    padding: 10px 20px;
    color: #fff;
    border: solid 1px #fff;
    max-width: 150px;
}

.adm-pager a, .adm-pager span {
    margin-right: 10px;
}
/*-----------------------------------------*/




.gradient {
    background-color: #2b3442;
    background-image: repeating-radial-gradient(ellipse farthest-corner at right bottom,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 73.8%,rgb(20, 25, 34) 84.1%,rgb(20, 25, 34) 94%,rgb(53, 59, 69) 100%);
    background-image: -ms-repeating-radial-gradient(right bottom, ellipse farthest-corner,rgb(72, 85, 108) 0%,rgb(27, 33, 43) 73.8%,rgb(20, 25, 34) 84.1%,rgb(20, 25, 34) 94%,rgb(53, 59, 69) 100%);
}

@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff48556c",endColorstr="#ff353b45",GradientType=0);
    }
}
