@page
@model KosmosCore.Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
}

@section Head {
    <style>
        .hero-header #particles-js { height: 100vh !important; }
    </style>
}

<div class="container-fluid">
    <div class="proekt">
        <div id="chto">
            <h1 align="center">О проекте</h1>
            <h3>Что такое «Атлас профессий будущего?»</h3>
            <p><b>Атлас профессий</b> — это, в первую очередь, помощник для школьников, решивших продолжить свое обучение в высшем образовательном учреждении, а для сотрудников, осуществляющих профориентационную деятельность — удобная платформа, позволяющая просто и оперативно визуализировать «профессии будущего». 
                <br/>Технологический прогресс не стоит на месте – динамика появления новых технологий возросла многократно, поэтому необходимо тщательно отслеживать подобные тенденции, ведь понимание того, какие требования будут предъявлены будущим профессионалам уже завтра – очень важно.
                Именно поэтому было решено реализовать проект на базе <b>Сыктывкарского государственного университета им. Питирима Сорокина</b>, с помощью которого абитуриенты ВУЗов смогли бы ознакомиться с будущими, еще не появившимися, профессиями, а также увидеть, с какими уже <b>существующими</b> направлениями подготовки СГУ им. Питирима Сорокина данные профессии связаны.                       
            </p>
        </div>
        <h3>Для чего он нужен?</h3>
        <div id="proekt-p">
            <p>
                С каждым днем скорость изменений увеличивается, сложность профессиональных задач возрастает, а некоторые профессии, которые вчера казались фантастикой, в будущем станут популярными и востребованными.
            <br/><b>Мультидисциплинарность</b> – это одно из самых важных качеств специалиста будущего, которое значительно увеличивает его конкурентоспособность на рынке труда. 
            Такое быстрое устаревание профессиональных компетенций приводят к их пересмотру и формированию новых, а далее, как следствие – созданию новейших профессий.
                <b>Данный проект предназначен для формирования представления абитуриентов о тенденциях в сфере образования в ближайшие годы (десятилетия) и оказания помощи в выборе существующих в вузе направлений подготовки в преломлении профессий будущего посредством разработки 
            графической платформы для моделирования небесных тел.</b>
                </p>
        </div>
    </div>
</div>

<h1 style="font-size: 25px; text-align: center; font-family: 'Century Gothic'; font-weight: bold; margin-bottom: 70px; margin-top: 20px;">Что вас интересует?</h1>

<div class="rules">
    <div class="card">
        <div class="image naprav"></div>
        <a href="~/spec">Направления подготовки</a>
        <p>Выбери одно из существующих направлений</p>
    </div>
    <div class="card" style="margin-right: 0;">
        <div class="image atlas"></div>
        <a href="~/proj">Атлас профессий будущего</a>
        <p>Узнай, какие профессии будут востребованы в будущем</p>
    </div>
</div>
