@page
@model KosmosCore.Pages.RelashionsModel
@{
    ViewData["Title"] = "Связи";
}
<div class="container-fluid" style="margin-top: 30px;">
    <h3 style="margin-bottom: 30px;" align="center">Матрица связей направлений подготовки и профессий будущего</h3>
    <table class="table table-bordered" style="width: 75%; margin: 0 auto; text-align: center;">
        <thead>
            <tr style="background-color: white;">
                <th>Направление подготовки</th>
                <th>Профессия будущего</th>
                <th>Навык, компетенция</th>
            </tr>
        </thead>
        <tbody>
            @* Data will be loaded via Model in Task 2 *@
        </tbody>
    </table>
</div>
