@page
@model KosmosCore.Pages.SpecModel
@{
    ViewData["Title"] = "Направления подготовки";
}
<div class="table-spec" style="margin: 0 auto; width: 65%;">
    <h1 align="center">Перечень направлений подготовки СГУ им. Питирима Сорокина</h1>
    <table class="table">
        <thead style="background-color:#333333; color:white; font-size:x-large; font-weight:bold;">
            <tr>
                <th>Свойство</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            @* Data will be loaded via Model in Task 2 *@
        </tbody>
    </table>
</div>
