@page
@model KosmosCore.Pages.TestModel
@{
    ViewData["Title"] = "Профориентационный тест";
}

<h2 style="text-align: center; margin-top:40px;font-weight: bold;">Профориентационный тест</h2>
<h3 style="text-align: center;">Методика «Матрица выбора профессии» Г.В.Резапкиной.</h3>
<p style="text-align: center; white-space: pre; margin-top:5px;margin-bottom:30px;"> <i>
Вам предлагается серия вопросов, из которых можно выбрать только один (в крайнем случае, два) 
варианта ответа из каждого раздела. В таблице, расположенной в конце теста, 
в каждой из ячеек, находящихся на пересечении выбранных Вами ответов, 
Вы найдёте названия профессий, которые могут Вас заинтересовать.</i>
</p>
<div class="test">
    <h3 style="font-weight: bold;">1. Какой объект деятельности Вас привлекает?</h3>
    <br />
    <p> <b>1.1. Человек </b>(<i>дети и взрослые, ученики и студенты, клиенты и пациенты, покупатели и пассажиры, зрители, читатели, сотрудники</i>).</p>
    <p> <b>1.2. Информация </b>(<i>тексты, формулы, схемы, коды, чертежи, иностранные языки, языки программирования</i>).</p>
    <p><b>1.3. Финансы </b>(<i>деньги, акции, фонды, лимиты, кредиты</i>).</p>
    <p> <b>1.4. Техника </b>(<i>механизмы, станки, здания, конструкции, приборы и машины</i>).</p>
    <p><b>1.5. Искусство </b>(<i>литература, музыка, театр, кино, балет, живопись</i>).</p>
    <p><b> 1.6. Животные</b> (<i>служебные, дикие, домашние, промысловые</i>).</p>
    <p> <b>1.7. Растения </b>(<i>сельскохозяйственные, дикорастущие, декоративные</i>).</p>
    <p><b> 1.8. Продукты питания </b>(<i>мясные, рыбные, молочные, кондитерские, хлебобулочные изделия, консервы, плоды, овощи, фрукты</i>).</p>
    <p><b> 1.9. Изделия </b>(<i>металл, ткани, мех, кожа, дерево, камень, лекарства</i>).</p>
    <p> <b>1.10. Природные ресурсы </b>(<i>земли, леса, горы, водоёмы, месторождения</i>).</p>

    <h3 style="font-weight: bold; margin-top: 40px;">2. Какой вид деятельности наиболее Вам интересен?</h3>
    <br />
    <p> <b> 2.1. Управление </b> (<i>руководство чьей-то деятельностью</i>). </p>
    <p> <b> 2.2. Обслуживание </b> (<i>помощь людям, удовлетворение чьих-то потребностей</i>). </p>
    <p> <b> 2.3. Образование </b> (<i>воспитание, обучение, формирование личности</i>). </p>
    <p> <b> 2.4. Оздоровление </b> (<i>избавление от болезней и их предупреждение</i>). </p>
    <p> <b> 2.5. Творчество </b> (<i>создание оригинальных произведений искусства</i>). </p>
    <p> <b> 2.6. Производство </b> (<i>изготовление продукции</i>). </p>
    <p> <b>2.7. Конструирование </b> (<i>проектирование деталей</i>). </p>
    <p> <b> 2.8. Исследование </b> (<i>научное изучение чего-либо или кого-либо</i>). </p>
    <p> <b> 2.9. Защита </b> (<i>охрана от враждебных действий</i>). </p>
    <p> <b> 2.10. Контроль </b> (<i>проверка и наблюдение</i>). </p>
</div>

<div class="" style="text-align:center; margin-bottom: 130px; margin-top: 90px;">
   <a href="~/images/test-1.png" style="display: inline-block; padding: 15px 30px; border: 2px solid #000000; text-transform: uppercase; text-align: center; letter-spacing: 0.015em; font-size: 18px;  line-height: 1; left: 47%; top: 65%; text-decoration: none; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; color: #000000">Посмотреть результат</a>
</div>
